@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-[#0a0a0c] text-gray-900 dark:text-gray-100 antialiased;
  }
}

/* Ensure smooth transitions between tabs */
.fade-enter {
  opacity: 0;
  transform: translateY(4px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}